body {
    margin: 0;
    background-color: white;
    font-family: 'Hero', 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;    
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border-width: 0;
    padding: 8px 30px;
    font-size: 18px;
}

.call button {
    border-width: 3px;
    border-style: solid;
}

.header {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
}

.block {
    margin: 0;
    padding: 50px 400px;
}

.block.dark {
    background-color: #1F2937;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0px;
}

.dark h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.dark h2 {
    font-size: 24px;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.dark img {
    flex: 1;
    width: 600px;
    margin-left: 20px;
    border-radius: 5%;
}

.block.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 40px 500px;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.quote strong {
    font-size: 16px;
    font-weight: bold;
    align-self: flex-end;
    margin: 0;
    padding: 0;
}

.call {
    background-color: #3882F6;
    color: white;
    border-radius: 7px;
    width: 100%;
    padding: 30px 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.call h1 {
    padding: 0;
    margin: 0;
    font-size: 24px;
}

.call p {
    padding: 0;
    margin: 0;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 0;
}

.vertical.light {
    justify-content: center;
    align-content: space-around;
}

.vertical.dark p {
    text-align: left;
}

.vertical img {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: #3882F6;
    border-width: 5px;
    border-radius: 5px;
    margin: 0;
}

.vertical p {
    text-align: center;
    margin-bottom: 0;
}

.light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.light h1 {
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;   
    align-items: center;
    margin: 0;
    padding: 20px 0px;
}